<section class="todoapp">
  <header class="header">
    <h1>{{ title }}</h1>
    <input
      class="new-todo"
      #todoInput
      (keyup.enter)="add(todoInputModule)"
      [placeholder]="placeholder"
      autofocus
      [(ngModel)]="todoInputModule"
    />
  </header>
  <section class="main" style="display: block">
    <input
      id="toggle-all"
      class="toggle-all"
      type="checkbox"
      [checked]="toggleAllBtn"
      (click)="toggleAll()"
    />
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <li
        *ngFor="let item of nowTodoList; let i = index"
        [class]="{ completed: item.Status, editing: item.Editing }"
      >
        <div class="view">
          <input
            (click)="clickCheck(item)"
            class="toggle"
            type="checkbox"
            [checked]="item.Status"
          />
          <label (dblclick)="edit(item)">{{ item.Thing }}</label>
          <button (click)="delete(item)" class="destroy"></button>
        </div>
        <input
          #saveIn
          *ngIf="item.Editing"
          [(ngModel)]="item.Thing"
          (keyup.enter)="updateItem(item)"
          (blur)="updateItem(item)"
          (mouseenter)="saveIn.focus()"
          class="edit"
        />
      </li>
    </ul>
  </section>
  <footer class="footer">
    <span class="todo-count">
      <!-- 判斷長度後，顯示還剩下幾筆 -->
      <strong>{{ todoActive.length }}</strong>
      <span> items left</span>
    </span>
    <ul class="filters">
      <li>
        <a
          [class.selected]="nowTodoStatusType === todoStatusType.All"
          (click)="setTodoStatusType(todoStatusType.All)"
          href="#/"
        >
          All
        </a>
      </li>
      <li>
        <a
          [class.selected]="nowTodoStatusType === todoStatusType.Active"
          (click)="setTodoStatusType(todoStatusType.Active)"
          href=" #/active"
          >Active
        </a>
      </li>
      <li>
        <a
          [class.selected]="nowTodoStatusType === todoStatusType.Completed"
          (click)="setTodoStatusType(todoStatusType.Completed)"
          href=" #/completed"
          >Completed
        </a>
      </li>
    </ul>
    <button
      (click)="clearCompleted()"
      class="clear-completed"
      *ngIf="todoComplete.length"
    >
      Clear completed
    </button>
  </footer>
</section>
