<input
  id="toggle-all"
  class="toggle-all"
  type="checkbox"
  [checked]="toggleAllBtn"
  (click)="toggleAll()"
/>
<label for="toggle-all">Mark all as complete</label>
<ul class="todo-list">
  <li
    *ngFor="let item of nowTodoList; let i = index"
    [class]="{ completed: item.Status, editing: item.Editing }"
  >
    <div class="view">
      <input
        (click)="clickCheck(item)"
        class="toggle"
        type="checkbox"
        [checked]="item.Status"
      />
      <label (dblclick)="edit(item)">{{ item.Thing }}</label>
      <button (click)="modal.show()" *ngIf="item.CanEdit" class="p-2 destroy2">
        i
      </button>
      <button
        class="destroy"
        *ngIf="item.CanEdit"
        (click)="delete(item)"
      ></button>
    </div>
    <input
      #saveIn
      *ngIf="item.Editing"
      [(ngModel)]="item.Thing"
      (keyup.enter)="updateItem(item)"
      (blur)="updateItem(item)"
      (mouseenter)="saveIn.focus()"
      class="edit"
    />
  </li>
</ul>
<app-todo-info-model #modal></app-todo-info-model>
